
if SHIELD_anex124w_LEFT

config ZMK_KEYBOARD_NAME
    default "Anex1.24W"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_anex124w_LEFT

if SHIELD_anex124w_LEFT || SHIELD_anex124w_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_anex124w_LEFT || SHIELD_anex124w_RIGHT
